.login-ctn {
  height: 100%;
  width: 86%;
  padding: 0;
  margin: 0 auto;
  font-size: 5.067vw;
  border: none;
  border-radius: 0 2.4vw 2.4vw 0;
  outline: none;

  .login-name,
  .login-password {
    width: 100%;
    height: 90rpx;
    padding-left: 13.333vw;
    border-radius: 4.8vw;
    border: 0.267vw solid #ccc;
    border-radius: 2.4vw;
    box-sizing: border-box;
    margin: 40rpx 0;
    position: relative;
    background-color: #fff;

    >i {
      position: absolute;
      top: -12rpx;
      font-size: 32rpx;
      line-height: 100rpx;
      color: #ccc;
    }

    >i.icon-lock,
    >i.icon-admin {
      left: 32rpx;
    }

    >i.icon-close-eyes,
    >i.icon-eye {
      left: 580rpx;
    }

    input {
      width: 90%;
      height: 100%;
      top: 0;
      bottom: 0;
      padding: 0;
      background-color: #fff;
      font-size: 34rpx;
      background: #fff;
      border: none;
      border-radius: 0 2.4vw 2.4vw 0;
      outline: none;
    }
  }

  .register-usercard,
  .register-password,
  .register-password2 {
    margin-top: 60rpx;
    height: 90rpx;
    padding-left: 100rpx;
    border-radius: 36rpx;
    border: 2rpx solid #ccc;
    border-radius: 2.4vw;
    position: relative;
    background-color: #fff;

    >input {
      width: 90%;
      height: 100%;
      top: 0;
      bottom: 0;
      padding: 0;
      background-color: #fff;
      font-size: 34rpx;
      background: #fff;
      border: none;
      border-radius: 0 2.4vw 2.4vw 0;
      outline: none;
    }

    >i {
      position: absolute;
      top: -12rpx;
      font-size: 32rpx;
      line-height: 100rpx;
      color: #ccc;
    }

    >i.icon-lock,
    >i.icon-admin {
      left: 32rpx;
    }

    >i.icon-close-eyes,
    >i.icon-eye {
      left: 580rpx;
    }

    >.tips {
      position: absolute;
      top: -37rpx;
      left: 0;
      width: 213rpx;
      text-align: left;
      color: #de5555;
      font-size: 32rpx;
    }
  }

  .login-title-logo {
    display: flex;
    justify-content: center;

    .icon-logo {
      display: block;
      margin-top: 145rpx;
      color: #3e79fb;
      font-size: 100rpx;
    }
  }

  .login-info-title {
    font-size: 40rpx;
    padding: 30rpx 0;
    margin-bottom: 30rpx;
    font-family: SourceHanSansCN-Normal;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rpx;
    color: #666666;
    text-align: center;
  }

  .login-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32rpx;
    input {
      width: 26rpx;
      height: 26rpx;
    }
    label {
      margin-left: 30rpx;
      font-size: 32rpx;
    }
  }

  .login-button {
    margin-top: 80rpx;

    button {
      color: #fff;
      border: none;
      background: -webkit-gradient(linear, left top, right top, from(#366bfd), to(#0084ff));
      background: linear-gradient(to right, #366bfd, #0084ff);
      width: 100%;
      height: 100rpx;
      line-height: 100rpx;
      font-size: 5.6vw;
    }
  }
}

.register-message {
  margin-top: 186rpx;
  width: 100%;
  height: 32rpx;
  line-height: 32rpx;
  display: flex;
  justify-content: center;
  z-index: 2;

  .register-message-info {
    font-family: PingFangSC-Regular;
    font-size: 32rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 32rpx;
    letter-spacing: 0rpx;
    color: #888888;
  }

  .register-message-to {
    font-family: PingFangSC-Regular;
    font-size: 32rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 32rpx;
    letter-spacing: 0rpx;
    color: #366bfd;
  }
}

.login,
.register {
  position: fixed;
  background: linear-gradient(to bottom, #efefef, #eaeaea);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
